.blogcontent{
    margin: 2rem;
    white-space: pre-wrap;
    font-size: 1.2rem;
    color: white;
    text-align: justify;
}
.blogimg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}
.blogcomp{
    display: flex;
    flex-wrap: wrap;
}
.blogpageimg{
    width: 50%;
}
@media screen and (max-width:640px) {
    .blogcontent{
        width: initial;
    }
    .blogpageimg{
        width: 100%;
    }
}