.prcontainer{
    /* max-width: 1140px; */
    max-width: 100vw;
    flex-wrap: wrap;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px; */
    padding: 1rem 0;
    color: white;
}
.showbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.showbtn a{
    margin: 1rem 0;
    font-weight: 700;
    /* border-radius: 20px; */
}
